<p>
    @Html.ActionLink("Engineer0", "Index", "Engineer0")
    <br />
    Engineer0 provides a controller for the Engineer table with no customization what-so-ever.  The code for the controller looks like this:
    <pre>    public class Engineer0Controller : BaseController&lt;Engineer&gt;
    {        
    }</pre>
    It doesn't look that awesome, but it's not too shabby for the amount of work that went into the above controller.  Please take note of the fact
    that when no views are specified, ExpressForms will use ExpressFormsIndex.cshtml and ExpressFormsEditor.cshtml by default.
</p>

<hr />

<p>
    @Html.ActionLink("Engineer1", "Index", "Engineer1")
    <br />
    Engineer1 provides a little bit of customization.  Here, we've specified the heading for the page, as well as some of the column headings.
    Note that we didn't have to specify all of them.
    <pre>    public class Engineer1Controller : BaseController&lt;Engineer&gt;
    {
        public Engineer1Controller()
            : base()
        {
            IndexTitle = "Engineer Roster";

            CustomPropertyNames.Add("FavoriteLanguage", "Favorite Language");
            CustomPropertyNames.Add("CodeSnippet", "Favorite Code Snippet");
            CustomPropertyNames.Add("Available", "Available For Hire");
        }
    }</pre>
</p>

<hr />

<p>
    @Html.ActionLink("Engineer2", "Index", "Engineer2")
    <br />
    No doubt you've been wondering how useful this Express Forms framework can be with just textboxes and checkboxes.
    Engineer2 here shows how the form may be customized, in this case, with a textarea.  Once again, we can specify
    a custom input type for as many or as few fields as we like.
    
    <pre>    public class Engineer2Controller : BaseController&lt;Engineer&gt;
    {
        public Engineer2Controller()
            : base()
        {
            IndexTitle = "Engineer Roster";

            CustomPropertyNames.Add("FavoriteLanguage", "Favorite Language");
            CustomPropertyNames.Add("CodeSnippet", "Favorite Code Snippet");
            CustomPropertyNames.Add("Available", "Available For Hire");

            CustomEditorInputs.Add("CodeSnippet", new ExpressForms.Inputs.ExpressFormsTextArea()
            {
                FormName = this.FormName,
                InputName = "CodeSnippet",                
            });
        }
    }</pre>
</p>

<hr />

<p>
    @Html.ActionLink("Engineer3", "Index", "Engineer3")
    <br />
    In the Engineer2 example, you saw how Express Forms can work with customized forms to provide users with the appropriate
    widgets for inputting data.  There's no doubt you have also noticed that the line breaks are still missing from the code
    samples on the index page.  That's because by default, Express Forms will HTML-encode the contents of each field, and
    the browser will "collapse" the whitespace.

    <br /><br />

    Never fear!  Express Forms provides you with a way to customize the way the data is displayed.  You can provide
    any function you like to describe what HTML should be put in each field of the table for each record.
    
    <pre>    public class Engineer3Controller : BaseController&lt;Engineer&gt;
    {
        public Engineer3Controller()
            : base()
        {
            IndexTitle = "Engineer Roster";

            CustomPropertyNames.Add("FavoriteLanguage", "Favorite Language");
            CustomPropertyNames.Add("CodeSnippet", "Favorite Code Snippet");
            CustomPropertyNames.Add("Available", "Available For Hire");

            CustomEditorInputs.Add("CodeSnippet", new ExpressForms.Inputs.ExpressFormsTextArea()
            {
                FormName = this.FormName,
                InputName = "CodeSnippet",                
            });

            CustomPropertyDisplay.Add(&quot;Available&quot;, (record) =&gt;
                {
                    Engineer engineer = (Engineer)record;
                    string checkHtml = &quot;&lt;img src=&#39;{0}&#39; alt=&#39;check&#39; /&gt;&quot;.Replace(&quot;{0}&quot;, Url.Content(&quot;~/Images/check.png&quot;));
                    return engineer.Available ? checkHtml : &quot;&quot;;
                }
            );
            string codeFormat = &quot;&lt;pre&gt;{0}&lt;/pre&gt;&quot;;
            CustomPropertyDisplay.Add(&quot;CodeSnippet&quot;, (record) =&gt;
                {
                    Engineer engineer = (Engineer)record;
                    return string.Format(codeFormat, engineer.CodeSnippet.Replace(&quot;&amp;&quot;, &quot;&amp;amp;&quot;).Replace(&quot;&lt;&quot;, &quot;&amp;lt&quot;).Replace(&quot;&gt;&quot;, &quot;&amp;gt;&quot;));
                }
            );
        }
    }</pre>
</p>

<p>
    @Html.ActionLink("Engineer4", "Index", "Engineer4")
    <br />
    In the Engineer3 example, you saw how to take complete control over how the data is formatted in the table.
    <br /><br />
    The Engineer4 example shows how ExpressForms is designed for extensibility.
    You can design *any* type of input you can describe to the framework by providing .net code to write the control in HTML as well as Javascript code to read it.
    In this example, I will use a small extension I wrote to use the "Ace" text editor. <a href='http://ace.c9.io/'>Ace Web Site</a>            
    
    <pre>    public class Engineer4Controller : BaseController&lt;Engineer&gt;
    {
        public Engineer4Controller()
            : base()
        {
            IndexTitle = "Engineer Roster";

            CustomPropertyNames.Add("FavoriteLanguage", "Favorite Language");
            CustomPropertyNames.Add("CodeSnippet", "Favorite Code Snippet");
            CustomPropertyNames.Add("Available", "Available For Hire");

            CustomEditorInputs.Add("CodeSnippet", new ExpressForms.Extensions.Ace.ExpressFormsAceInput()
            {
                FormName = this.FormName,
                InputName = "CodeSnippet",                
            });

            CustomPropertyDisplay.Add(&quot;Available&quot;, (record) =&gt;
                {
                    Engineer engineer = (Engineer)record;
                    string checkHtml = &quot;&lt;img src=&#39;{0}&#39; alt=&#39;check&#39; /&gt;&quot;.Replace(&quot;{0}&quot;, Url.Content(&quot;~/Images/check.png&quot;));
                    return engineer.Available ? checkHtml : &quot;&quot;;
                }
            );
            string codeFormat = &quot;&lt;pre&gt;{0}&lt;/pre&gt;&quot;;
            CustomPropertyDisplay.Add(&quot;CodeSnippet&quot;, (record) =&gt;
                {
                    Engineer engineer = (Engineer)record;
                    return string.Format(codeFormat, engineer.CodeSnippet.Replace(&quot;&amp;&quot;, &quot;&amp;amp;&quot;).Replace(&quot;&lt;&quot;, &quot;&amp;lt&quot;).Replace(&quot;&gt;&quot;, &quot;&amp;gt;&quot;));
                }
            );
        }
    }</pre>
</p>

<p>
    @Html.ActionLink("Engineer5", "Index", "Engineer5")
    <br />
    Those of you familiar with the Ace text editor know that it provides syntax highlighting for various languages.  You'd probably like to set up the "Favorite Language"
    input so that Ace will use syntax highlighting for the selected language.  In the Engineer5 example, I show how this is done.
    <br /><br />
    First, it is necessary to create a custom input with a dropdown list for the Favorite Language input.  That is straightforward.
    <br /><br />
    What is a bit trickier is linking the two inputs together.  Some Javascript is required.  If you read the code to the Ace extension, you may have noticed that 
    the name of the field is used as the id attribute on the input.  Bearing this in mind, you can write the following Javascript:

    <pre>    $(document).ready(function () {
        var $selectLanguage;
        $selectLanguage = $(&quot;#FavoriteLanguage&quot;);
        $selectLanguage.change(function () {
            var language, aceMode, editor;
            language = $selectLanguage.val();
            aceMode = &#39;ace/mode/&#39; + language;
            editor = ace.edit(&#39;CodeSnippet&#39;);
            editor.getSession().setMode(aceMode);
        });
        $selectLanguage.change();
    });
</pre>
    <br /><br />
    You'll ask, where do I put the Javascript; there's no view to use!  Actually, there is a view, but it is shared between different controllers that use Express Forms. (See Engineer0 notes)
    Create a new view and call it Engineer5Editor.  Create a folder called Engineer5 in the "Views" directory and save it there.  Copy the contents of the ExpressFormsEditor.cshtml
    file from the shared views folder to Engineer5Editor.cshtml and add in the above Javascript code.  Finally, add <i>EditorViewName = "Engineer5Editor";</i> to the code.

    <pre>public class Engineer5Controller : BaseController&lt;Engineer&gt;
    {
        public Engineer5Controller()
            : base()
        {
            EditorViewName = &quot;Engineer5Editor&quot;;
            IndexTitle = &quot;Engineer Roster&quot;;

            CustomPropertyNames.Add(&quot;FavoriteLanguage&quot;, &quot;Favorite Language&quot;);
            CustomPropertyNames.Add(&quot;CodeSnippet&quot;, &quot;Favorite Code Snippet&quot;);
            CustomPropertyNames.Add(&quot;Available&quot;, &quot;Available For Hire&quot;);

            CustomEditorInputs.Add(&quot;FavoriteLanguage&quot;, new ExpressForms.Inputs.ExpressFormsDropDownList()
            {
                FormName = this.FormName,
                InputName = &quot;FavoriteLanguage&quot;,
                SelectListItems = new SelectListItem[]
                {
                    new SelectListItem() { Value=&quot;csharp&quot;, Text=&quot;C#&quot;},
                    new SelectListItem() { Value=&quot;javascript&quot;, Text=&quot;Javascript&quot;},
                    new SelectListItem() { Value=&quot;html&quot;, Text=&quot;HTML&quot;},
                    new SelectListItem() { Value=&quot;xml&quot;, Text=&quot;XML&quot;}
                }
            });
            CustomEditorInputs.Add(&quot;CodeSnippet&quot;, new ExpressForms.Extensions.Ace.ExpressFormsAceInput()
            {
                FormName = this.FormName,
                InputName = &quot;CodeSnippet&quot;,
            });

            CustomPropertyDisplay.Add(&quot;Available&quot;, (record) =&gt;
            {
                Engineer engineer = (Engineer)record;
                string checkHtml = &quot;&lt;img src=&#39;{0}&#39; alt=&#39;check&#39; /&gt;&quot;.Replace(&quot;{0}&quot;, Url.Content(&quot;~/Images/check.png&quot;));
                return engineer.Available ? checkHtml : &quot;&quot;;
            }
            );
            string codeFormat = &quot;&lt;pre&gt;{0}&lt;/pre&gt;&quot;;
            CustomPropertyDisplay.Add(&quot;CodeSnippet&quot;, (record) =&gt;
            {
                Engineer engineer = (Engineer)record;
                return string.Format(codeFormat, engineer.CodeSnippet.Replace(&quot;&amp;&quot;, &quot;&amp;amp;&quot;).Replace(&quot;&lt;&quot;, &quot;&amp;lt&quot;).Replace(&quot;&gt;&quot;, &quot;&amp;gt;&quot;));
            }
            );
        }
    }</pre>
</p>

<p>
    At this point, you may think that this looks like a neat little toy.  After all, your database has millions upon millions of records and you wouldn't dream of showing all those records
    at once.  Furthermore, what about filtering, sorting, and paging of data.
</p>
<p>
    Express Forms does not provide for these features to be implemented in the controller methods that return the Index and Editor.  It does, however, provide a GetAjax method that will
    return data to the browser.  As of now, GetAjax is the only method in ExpressForms that requires an extension to use.  This is because different libraries for displaying data will
    have different logic for performing operations.  Here, I've provided an example for jQuery DataTables.  In the future, I intend to provide extensions for other libraries so that
    they can easily be swapped in and out.
</p>

<p>
    @Html.ActionLink("NameAndCity0", "Index", "NameAndCity0")
    <br />
    As with the Engineer example, I start with a simple example and then move on to more complex examples.
    <br /><br />
    In the example below, I've done only three critical things:
    <ol>
        <li>I've specified NameAndCity as the underlying entity class.</li>
        <li>I've specified that I'm using the DataTables extension.</li>
        <li>And also, I've specified that an appropriate view should be used for the Index.  (This view contains the Javascript and CSS references for jQuery DataTables.)
        The view also tells the framework not to render any records until they are retrieved via AJAX.</li>
    </ol>
    <pre>    public class NameAndCity0Controller : BaseController&lt;NameAndCity&gt;
        {
            public NameAndCity0Controller()
            {
                IndexAjaxExtension = new ExpressFormsDataTablesIndexAjaxExtension();
                IndexViewName = "jqueryDataTablesIndexView";
            }
        }</pre>
</p>

<p>
    @Html.ActionLink("NameAndCity1", "Index", "NameAndCity1")
    <br />
    In the previous example, most features of the table work right away, such as sorting, and paging.  That's because the extension that I wrote has generic methods built in
    that provide for these functions to be implemented across various data types such as integers and strings.
    <br /><br />
    Here, I've added a few simple commands to format the column headers and data.
    <pre>    public class NameAndCity1Controller : BaseController&lt;NameAndCity&gt;
    {
           public NameAndCity1Controller()
            : base()
        {
            IndexTitle = "Names And Cities";
            IndexViewName = "jqueryDataTablesIndexView";            
            IndexAjaxExtension = new ExpressFormsDataTablesIndexAjaxExtension();            
            CustomPropertyNames = new Dictionary&lt;string, string&gt;()
            {
                {"First_Name", "First Name"},
                {"Middle_Name", "Middle Initial"},
                {"Last_Name", "Last Name"}
            };
            CustomPropertyDisplay = new Dictionary&lt;string, Func&lt;NameAndCity, string&gt;&gt;()
            {
                {"Middle_Name", r => r.Middle_Name.First().ToString() }
            };
        }   
    }</pre>
</p>

<p>
    @Html.ActionLink("NameAndCity2", "Index", "NameAndCity2")
    <br />
    Finally, this next example shows filtering.  This was added on September 15, 2013.  There are "generic" filter types for various different SQL types.
    ExpressForms will generate methods on the fly from the filter data that Entity Framework will automatically translate into SQL queries.
    <br />
    To make it work, I just specified the placement of the filters on the page at the end of the NameAndCity2Controller constructor.
    To not use the filter, just omit the placement and it will default to hidden.
    <pre>
        public class NameAndCity2Controller : BaseController&lt;NameAndCity&gt;
    {
        public NameAndCity2Controller()
            : base()
        {
            IndexTitle = "Names And Cities";
            IndexViewName = "jqueryDataTablesIndexView";
            IndexAjaxExtension = new ExpressFormsDataTablesIndexAjaxExtension();
            CustomPropertyNames = new Dictionary&lt;string, string&gt;()
            {
                {"First_Name", "First Name"},
                {"Middle_Name", "Middle Initial"},
                {"Last_Name", "Last Name"}
            };
            CustomPropertyDisplay = new Dictionary&lt;string, Func&lt;NameAndCity, string&gt;&gt;()
            {
                {"Middle_Name", r => r.Middle_Name.First().ToString() }
            };
            IndexFilterPlacement = ExpressForms.ExpressFormsIndexViewModel.FilterPlacementEnum.Top;
        }
    }
    </pre>
</p>