<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>Express Forms Sample Application</title>                        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-ui")
        @Scripts.Render("~/bundles/ExpressForms")
        @Scripts.Render("~/scripts/ace/ace.js")

        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/css/jquery.dataTables/jquery.dataTables.css")
        @Styles.Render("~/css/jquery.dataTables/jquery.dataTables_themeroller.css")
        <style type="text/css">
            textarea
            {
             width: 500px;
             height: 200px;   
            }
        </style>
    </head>
   <body>  
        <p>
            @Html.ActionLink("Home", "Index", "Home")
        </p>
         
        @RenderBody()        
        
        @RenderSection("scripts", required: false)
    </body>
</html>
