@using System.Data.Objects.DataClasses
@using System.Reflection
@model ExpressForms.ExpressFormsIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @Model.Title    
</h1>

@* If placing the filter in a dialog box, render the dialog and the button to show it here. *@
@if (Model.FilterPlacement == ExpressForms.ExpressFormsIndexViewModel.FilterPlacementEnum.Dialog)
{
        
        <input type='button' id='btnOpenFilterDialog' value='Filter' />
        <div id='dialogFilter' style='display:none;background-color:White;'>
            @{Html.RenderPartial("ExpressFormsFilterPartial", new ExpressForms.ExpressFormsFilterModel() { Filters = Model.Filters }); }
            <div style='text-align:right;'>
                <input type='button' id='btnCloseFilterDialog' value='Close' />
            </div>
        </div>    
        <script>
            $(document).ready(function () {
                $('#btnOpenFilterDialog').click(function () { $('#dialogFilter').dialog(); });
                $('#btnCloseFilterDialog').click(function () { $('#dialogFilter').dialog('close'); });
            });
        </script>    
}

@if (Model.FilterPlacement == ExpressForms.ExpressFormsIndexViewModel.FilterPlacementEnum.Top)
{
    Html.RenderPartial("ExpressFormsFilterPartial", new ExpressForms.ExpressFormsFilterModel() { Filters = Model.Filters });
}

<p>
    @Html.ActionLink("Add New", "Editor")
</p>

<div class='ExpressFormsTableContainer'>
    @Html.WriteStaticTable(Model.Title, Model.IndexHeader, new ExpressForms.ExpressFormsIndexRecord[] { } /* print no records until they are fetched using ajax */)
</div>

@if (Model.FilterPlacement == ExpressForms.ExpressFormsIndexViewModel.FilterPlacementEnum.Bottom)
{    
    Html.RenderPartial("ExpressFormsFilterPartial", new ExpressForms.ExpressFormsFilterModel() { Filters = Model.Filters });
}

@Html.Hidden("hdnGetAjaxUrl", Model.GetAjaxUrl)

@Scripts.Render("~/Scripts/jquery.dataTables/jquery.dataTables.js")
@Scripts.Render("~/bundles/ExpressForms.jquery.dataTables")             